(
    window: (
        width: 1280.0,
        height: 720.0,
        title: "Bevy Bouncing Balls",
        autoClose: 0.0,
    ),
    gravity: (
        y: -600.0,
    ),
    bounce: (
        restitution: 0.85,
    ),
    balls: (
        count: 250,
        radius_range: (min: 10.0, max: 20.0),
        x_range: (min: -576.0, max: 576.0),
        y_range: (min: -324.0, max: 324.0),
        vel_x_range: (min: -200.0, max: 200.0),
        vel_y_range: (min: -50.0, max: 350.0),
    ),
    rapier_debug: false,
    draw_circles: false,
    metaballs_enabled: true,
    metaballs: (
        iso: 0.001,
        normal_z_scale: 0.12,
        radius_multiplier: 2.0,
    ),
    metaballs_shader: (
        fg_mode: 1,
        bg_mode: 1,
    ),
    noise: (
        base_scale: 0.004,
        warp_amp: 2.6,
        warp_freq: 0.5,
        speed_x: 0.5,
        speed_y: 0.5,
        gain: 0.5,
        lacunarity: 2.0,
        contrast_pow: 1.25,
        octaves: 5,
        ridged: false,
    ),
    surface_noise: (
        enabled: false,
        mode: 1,
        amp: 0.5,
        base_scale: 0.01,
        warp_amp: 1.15,
        warp_freq: 2.5,
        speed_x: 0.05,
        speed_y: 0.03,
        octaves: 3,
        gain: 1.0,
        lacunarity: 2.05,
        contrast_pow: 1.10,
        ridged: false,
    ),
    draw_cluster_bounds: false,
    interactions: (
            cluster_pop: (
            enabled: true,
            min_ball_count: 4,
            min_total_area: 1200.0,
            peak_scale: 2.0,
            grow_duration: 0.1,
            hold_duration: 0.0,
            shrink_duration: 0.50,
            collider_scale_curve: 1,
            freeze_mode: 0,
            fade_alpha: true,
            fade_curve: 1,
            ball_pick_radius: 36.0,
            ball_pick_radius_scale_with_ball: true,
            prefer_larger_radius_on_tie: true,
            exclude_from_new_clusters: true,
        ),
    ),

)
